<!DOCTYPE html>
<html>
<head>
  <title>SweetTalk</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- Add Semantic UI CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css">

  <!-- Add jQuery (required for Semantic UI) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Add Semantic UI JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.js"></script>
  
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="ui small inverted menu">
      <div class="ui container">
        <%= render 'layouts/nav' %>
      </div>
</div>
    <div class="ui container">
      <%= render 'layouts/messages' %>
       <%= yield %>
    </div>
</body>
</html>